* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "rudaw";
  src: url("fonts/rudaw.ttf");
  font-weight: normal;
  font-style: normal;
}

body {
  background: #1a1a1a !important;
  font-family: "rudaw" !important;
}
